<div>
    <h6 mat-dialog-title>{{modalTitle}}</h6>
    <div>
        <form class="form-form m-5" [formGroup]="form">
            <input type="hidden" formControlName="id">
           <div>
            <mat-form-field >
                <mat-label>Banque </mat-label>
                <input matInput formControlName="bankName"  required>

                <mat-error *ngIf="form.get('bankName').hasError('required')">
                    bank Name is required
                </mat-error>
            </mat-form-field>
           </div>
            <div>
                <mat-form-field >
                    <mat-label>Code </mat-label>
                    <input matInput formControlName="bankCode"  required>
    
                    <mat-error *ngIf="form.get('bankCode').hasError('required')">
                        code is required
                    </mat-error>
                </mat-form-field> 
            </div>
           <div>
            <mat-form-field >
                <mat-label>N° de compte </mat-label>
                <input matInput formControlName="number"  required>

                <mat-error *ngIf="form.get('number').hasError('required')">
                    number is required
                </mat-error>
            </mat-form-field>
           </div>
           <br>
            
            <div class="text-left">
                <button mat-raised-button  color="primary" style="margin-right:2px;" 
                    (click)="save()">Enregistrer </button>
                <button style="margin-left:2px;" mat-raised-button color="default" (click)="close()">Fermer
                </button>
            </div>
        </form>
    </div>
</div>
