<section class="content" (window:resize)="onResize($event)">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Achat</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a routerLink="/dashboard/main">
                            <i class="fas fa-home"></i>Bons de Récéptions</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="header">
          <div class="row">
              <div class="col-sm-12 col-md-3">
                <button mat-raised-button class="personlized-button"  (click)='add()' #btnRef><mat-icon>add</mat-icon>Créer un bon de reception(F4)</button>
              </div>
              <div class="col-sm-12 col-md-9 dataTables_filter" >
                <mat-slide-toggle color="primary" (change)="toggleSearch($event)" style="float: right;"  >Recherche avancée</mat-slide-toggle>
              </div>
          </div>
        </div>
  
        <div class="body table-responsive">
          <ejs-grid
          #grid
          (actionBegin)='begin($event)'
          [filterSettings]='filterSettings'
          showColumnMenu="true"
          [allowSelection]="false"
          [allowSorting]="true"
          [gridLines]="gridLines"
          [dataSource]="data"
          [allowPaging]="true"
          [allowFiltering]="true"
          (dataBound)="dataBound($event)"
          [childGrid]="childGrid"
          >
            <e-columns>
              <e-column headerText='#' [width]="100">
                <ng-template #template let-row>
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="button-action" aria-label="Actions">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="view(row)">
                      <mat-icon>remove_red_eye</mat-icon>
                      <span>Détail</span>
                    </button>
                    <button *ngIf="row.status == 0" mat-menu-item (click)="edit(row)">
                      <mat-icon>edit</mat-icon>
                      <span>Editer</span>
                    </button>
                    <button *ngIf="row.status == 0" mat-menu-item (click)="save(row)">
                      <mat-icon>save</mat-icon>
                      <span>Enregistrer</span>
                    </button>
                    <button *ngIf="row.status == 1" mat-menu-item (click)="validate(row)">
                      <mat-icon>check</mat-icon>
                      <span>Valider</span>
                    </button>
                    <button *ngIf="row.status == 1 ||row.status == 0" mat-menu-item (click)="delete(row)">
                      <mat-icon>delete</mat-icon>
                      <span>Supprimer</span>
                    </button>
                  </mat-menu>
                </ng-template>
              </e-column>
              <e-column [width]="180" field="sequenceNumber" headerText="N°BR" [allowFiltering]="true" isPrimaryKey="true" [allowSorting]="true" type="string">
                <ng-template #template let-data>{{data.deliveryReceiptSequenceNumber}}</ng-template>
              </e-column>
              <!-- <e-column [width]="120" field="deliveryReceiptNumber"  headerText="N°BR" ></e-column> -->
              <e-column [width]="200" field="invoiceDate" format="dd/MM/yyyy" type="date" headerText="Date"></e-column>
              <e-column [width]="220" field="status" headerText="Etat" type="string">
                <ng-template #filterTemplate let-data>
                  <ejs-dropdownlist id='status' [(ngModel)]="data.Name" [enabled]="data.column.allowFiltering" showClearButton="true"
                    (change)=onChange($event) [dataSource]='dropStates' [fields]='fields'[popupHeight]='height' >
                  </ejs-dropdownlist>
                </ng-template>
                <ng-template #template let-data>
                  <span *ngIf="data.status == 0" class="label l-bg-green shadow-style" style="margin-right: 5px">Créé </span>
                  <span *ngIf="data.status == 1" class="label bg-red shadow-style" style="margin-right: 5px">Enregistré</span>
                  <span *ngIf="data.status == 2" class="label l-bg-purple shadow-style" style="margin-right: 5px">En cours de traitement</span>
                  <span *ngIf="data.status == 3" class="label l-bg-purple shadow-style" style="margin-right: 5px">Cloturé</span>
                  <span *ngIf="data.status == 4" class="label l-bg-purple shadow-style" style="margin-right: 5px">Validé</span>
                </ng-template>
              </e-column>
              <e-column [width]="180" field="taxTotalAmount" type="number" format="N2" headerText="Total tva" textAlign='Right' [allowFiltering]="true" isPrimaryKey="true"[allowSorting]="true"></e-column>
              <e-column [width]="180" field="totalAmount" type="number" format="N2" headerText="Total TTC" textAlign='Right' [allowFiltering]="true" isPrimaryKey="true"[allowSorting]="true"></e-column>
              <e-column [width]="150" field="createdBy" headerText="Créée par"></e-column>
              <e-column [width]="180" field="createdDateTime"  headerText="Date de création" format="dd/MM/yyyy hh:mm" type="date"></e-column>
              <e-column [width]="180" field="updatedBy" headerText="Modifiée par"></e-column>
              <e-column [width]="200" field="updatedDateTime" headerText="Date de modification" format="dd/MM/yyyy hh:mm" type="date"></e-column>
            </e-columns>
          </ejs-grid>
      
        </div>
      </div>
    </div>
  </section>
    