  <mat-tab-group *ngIf="this.formGroup && this.selectedTab != null"   backgroundColor="primary" style="height: auto;" class="searchProduct" [(selectedIndex)]="this.selectedTab" (selectedTabChange)="onTabChanged($event);">
    <!-- Form to add product to order item list  -->
    <mat-tab label="Article (F10), {{data.currentClient.name}}" style="height: 500px;"  > 
      <form [formGroup]="formGroup">
        <div class="form-group mt-1 " style="font-family: 'Montserrat';">
          <mat-slide-toggle color="primary" *ngIf="rows.length == 0"
                      formControlName="orderType"
                      (change)="onCommandTypeSelection($event)"
                      style="margin-left: 5px" >Psychotrope
          </mat-slide-toggle>
        </div>
        <div class="from-group">
          <ng-select 
            id="productId" autofocus  
            placeholder="Liste des articles"
            #productId
            [items]="products$ | async" 
            [virtualScroll]="true"
            bindLabel="fullName" 
            [minTermLength]="minLengthTerm" 
            [loading]="productsLoading"
            typeToSearchText="Veuillez saisir {{minLengthTerm}} caractères ou plus pour commencer la recherche." 
            [typeahead]="productsInput$"
            (keydown)="onKeyDown($event)"  
            class="dropdown-grid"
            (clear)="onClearSelection()"
            (change)='onProductSelection($event)'  
            bindValue="productId"
          >
          
          <ng-template ng-header-tmp class="table-dropdown-no-scroll" >
            <p *ngIf="equivalenceOn && equivalenceProduct"> Liste des Equivalences : {{equivalenceProduct.fullName}}</p>
            <table class="table table-striped" style=" overflow-x: hidden;">
              <thead>
                <tr class="row dropdown-line-table" >
                  <th width="6%" sortable="code" (sort)="onSortProduct($event)"> Code</th>
                  <th width="40%" sortable="fullName" (sort)="onSortProduct($event)"> Designation</th>
                  <th width="10%" sortable="dciFullName" (sort)="onSortProduct($event)"> DCI </th>
                  <th width="18%" sortable="manufacturer" (sort)="onSortProduct($event)"> Laboratoire</th>
                  <th width="10%" sortable="available" (sort)="onSortProduct($event)"> Qte</th>
                
                  <th width="10%" sortable="taxGroup" (sort)="onSortProduct($event)"> Gr.Tax</th>
                  <th class="" width="6%" sortable="hasQuota" > Quota</th>

                </tr>
              </thead>
            </table>
            </ng-template>
            <ng-template let-item="item" ng-option-tmp class="table-dropdown "  let-itemIndex="itemIndex" >
            <table class="table table-striped" style=" overflow-x: hidden;" >
              <tr class="row  dropdown-line-table ">
                <td #select style="display: none;">{{item.id}}</td>
                <td  width="6%">{{item.code}}</td>
                <td width="40%">
                  <span class="badge" [class.bg-success-border]="item.quantity > 0" [class.bg-danger-border]="item.quantity == 0" style="font-size:14px;white-space: break-spaces;line-height: normal;margin-top: -5px;">
                    {{item.fullName}}
                  </span>
                </td>
                <td width="10%">{{item.dciFullName}}</td>
                <td width="18%" style="white-space: break-spaces;line-height: 1em;">{{item.manufacturer}}</td>
                <td width="10%">
                  <a  style="text-decoration:none;color:red;" *ngIf="item.quantity == 0">  {{item.quantity}}</a>
                  <a style="text-decoration:none;color:green;" *ngIf="item.quantity > 0">  {{item.quantity}}</a>
                </td>
              
                <td width="10%"><span style="white-space: break-spaces;line-height: 1em;margin-top: -5px;">{{item.taxGroup}}</span></td>
                <td class="" width="6%">
                  <span style="line-height: normal;" *ngIf="item.hasQuota" class="label bg-green shadow-style">Oui</span>
                  <span style="line-height: normal;" *ngIf="!item.hasQuota" class="label bg-red shadow-style">Non</span>
                </td>
              </tr>
            </table> 
            </ng-template>
        </ng-select>
                
        </div>
        <div class="form-group mt-1">
        </div>
        <div class="form-group mt-1" >
          <ng-select  appAutoFocus
          formControlName="internalBatchNumber"
          placeholder="Liste des lots"
          #internalBatch
          [items]="invent" 
          class="dropdown-grid"
          bindValue="internalBatchNumber" 
          bindLabel="internalBatchNumber"  
          [virtualScroll]	='true' 
          [markFirst]='true'
          (change)='onBatchSelection($event)'	> 
            <ng-template ng-header-tmp class="table-dropdown-no-scroll">
              <table class="table table-striped" style=" overflow-x: hidden;" >
                <thead>
                  <tr class="row  dropdown-line-table" >
                    <th class="" width="15%" sortable="internalBatchNumber" (sort)="onSortBatch($event)"> N°Lot Interne</th>
                    <th class="" width="15%" sortable="expiryDate" (sort)="onSortBatch($event)"> Date d'expiration</th>
                    <th class="" width="15%" sortable="physicalAvailableQuantity" (sort)="onSortBatch($event)"> Total livrable</th>
                    <th class="" width="15%" sortable="salesUnitPrice" (sort)="onSortBatch($event)"> PV.U</th>
                    <th class="" width="15%" sortable="ppaTTC" (sort)="onSortBatch($event)"> PPA TTC</th>
                    <th class="" width="5%" sortable="pfs" (sort)="onSortBatch($event)"> SHP</th>
                    <th class="" width="5%" sortable="packing" > Colis</th>
                    <th class="" width="15%" sortable="supplierName" > Fournisseur</th>

                  </tr>
                </thead>
              </table>
            </ng-template>
            <ng-template let-item="item" ng-option-tmp class="table  table-dropdown ">
              <table class="table table-striped ">
                <tr class="row dropdown-line-table">
                  <td class="" width="15%" >{{item.internalBatchNumber}}</td>
                  <td class="" width="15%">
                    <span  class="badge" [class.bg-success-border]="getDifferenceDates(item.expiryDate)" [class.bg-danger-border]="!getDifferenceDates(item.expiryDate)">
                      {{item.expiryDate |  date: 'dd/MM/yyyy'}}
                    </span>
                  </td>
                  <td class="" width="15%">
                    <span class="badge" [class.bg-success-border]="item.physicalAvailableQuantity > 0" [class.bg-danger-border]="item.physicalAvailableQuantity == 0">
                      {{item.physicalAvailableQuantity}}
                    </span>
                  </td>
                  <td class="" width="15%">{{item.salesUnitPrice | currencyFormat :'DZD' }}</td>
                  <td class="" width="15%">{{item.ppaTTC | currencyFormat :'DZD' }}</td>
                  <td class="" width="5%">{{item.pfs | currencyFormat :'DZD' }}</td>
                  <td class="" width="5%"><span *ngIf="item.packing">{{item.packing }}</span></td>
                  <td class="" width="15%"><span style="white-space: break-spaces;line-height: 1em;">{{item.supplierName }}</span></td>
                </tr>
              </table> 
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group " >
          <mat-form-field style="margin-left: 2px;">
            <mat-label>Quota </mat-label>
            <input autocomplete="off" readonly  type="number" matInput  formControlName="availableQuota" >
          </mat-form-field>
          <mat-form-field style="margin-left: 2px;">
            <mat-label>Quantité </mat-label>
            <input autocomplete="off"   #quantity type="number" min="1" matInput  formControlName="quantity" required (change)="checkOverTakingCredit()">
            <mat-error *ngIf="formGroup.get('quantity').hasError('required')">
              La quantité est obligatoire
            </mat-error>
            <mat-error *ngIf="formGroup.get('quantity').hasError('quantityRange')">
              La quantité est supérieure à la quantité disponible
            </mat-error>
            <mat-error *ngIf="formGroup.get('quantity').hasError('quotaRange')">
              La quantité est supérieure à la quantité quota 
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mb-1">
          <mat-slide-toggle  (change)="onToggle($event)" style="margin-right: 15px;"> Remise Exceptionnelle </mat-slide-toggle>
          <mat-form-field *ngIf="extraDiscountActivated" style="margin-left: 2px;">
            <mat-label>Remise Manuelle </mat-label>
            <input   #extraDiscount type="number" min=0 max=100 matInput  formControlName="extraDiscount" >
            <mat-error *ngIf="formGroup.get('extraDiscount').hasError('min')">
              La remise doit être supérieur à 0
            </mat-error>
            <mat-error *ngIf="formGroup.get('extraDiscount').hasError('extraDiscountValue')">
              La remise doit être supérieur à 0 et inferieur à 0
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-left">
          <mat-error *ngIf="!canDoOrder"> Le client a atteint sa limite de crédit</mat-error>
          <button mat-raised-button  [class.spinner]="isSavingItem"  [disabled]="!formGroup.valid || !canDoOrder" [class.personlized-button]="formGroup.valid && canDoOrder" [class.disabled-personlized-button]="!formGroup.valid || !canDoOrder" style="margin-right:2px;" 
            (click)="save()">
            Enregistrer </button>
            <button style="margin-left:2px;" mat-raised-button class="personlized-button-blue" (click)="close()">Fermer (Echap)</button>
        </div>
      </form>
      <div class="mt-5">
        <h3 style="margin-top: 50px;">Paliers des UG</h3>
        <ejs-grid 
        #grid  
        [gridLines]='gridLines'  
        [allowSelection]='false' 
        [dataSource]="discounts"
        [allowPaging]='true'>
          <e-columns>
              <e-column field='productFullName' headerText='Article'></e-column>
              <e-column field='fromDateShort'   headerText='Date'></e-column>
              <e-column field='toDateShort'   headerText='Date'></e-column>
              <e-column field='discountRate' headerText='Taux Remise'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true' type="number" format="N2">
                <ng-template #template let-row>
                  {{row.discountRate * 100}} %
                </ng-template>
              </e-column>
              <e-column field='thresholdQuantity' headerText='Quantité'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true' type="number" format="N2"></e-column>
              <e-column field='ug' headerText='UG'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true' type="number" format="N2">
                <ng-template #template let-row>
                  {{ getUg(row.thresholdQuantity, row.discountRate)}}
                </ng-template>
              </e-column>

          </e-columns>
        </ejs-grid>
      </div>
    </mat-tab>
    <!-- List of equivalences of selected product -->
    <mat-tab label="Equivalents (F10)">
      <ng-template matTabContent>  
        <ejs-grid 
        height='180'
        #grid2 id='grid2' 
        [pageSettings]="pageSettings" 

        style="padding: 5px;"   
        [gridLines]='gridLines'  
        [dataSource]="equivalences" 
        (recordDoubleClick)="Doubleclick($event)"
        (dataBound)="dataBoundEquivalence($event)"
        [allowSelection]='true' 
        [allowSorting]='true'
        [allowFiltering]='true' 
        (rowSelected)="onSelecteEquivalence($event.data)"
        [gridLines]="gridLines"
        [allowPaging]='true'
        (keyPressed)="keyPressed($event)"
        [selectionSettings]='selectionOptions'
        showColumnMenu="true"
        >
          <e-columns>
              <e-column width="120" field='code' headerText='Code'></e-column>
              <e-column width="250" field='fullName' headerText='Article'></e-column>
              <e-column width="120" field='dciFullName' headerText='DCI'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true'></e-column>
              <e-column width="180" field='manufacturer' headerText='Laboratoire'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true'></e-column>
              <e-column width="120" field='quantity' headerText='Quantité'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true'></e-column>
              <e-column width="120" field='taxGroup' headerText='G.Tax'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true'></e-column>

          </e-columns>
        </ejs-grid>
        <div class="mt-5">
          <h3>Paliers des UG</h3>
          <ejs-grid 
          #grid  
          [gridLines]='gridLines'  
          [allowSelection]='false' 
          [dataSource]="discountsEquivalences"
          showColumnMenu="true"
          [allowPaging]='true'>
            <e-columns>
                <e-column field='productFullName' headerText='Article'></e-column>
                <e-column field='fromDateShort'   headerText='Date'></e-column>
                <e-column field='toDateShort'   headerText='Date'></e-column>
                <e-column field='discountRate' headerText='Taux Remise'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true' type="number" format="N2">
                  <ng-template #template let-row>
                    {{row.discountRate * 100}} %
                  </ng-template>
                </e-column>
                <e-column field='thresholdQuantity' headerText='Quantité'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true' type="number" format="N2"></e-column>
                <e-column field='ug' headerText='UG'  [allowFiltering]='true' isPrimaryKey='true' [allowSorting]='true' type="number" format="N2">
                  <ng-template #template let-row>
                    {{ getUg(row.thresholdQuantity, row.discountRate)}}
                  </ng-template>
                </e-column>
  
            </e-columns>
          </ejs-grid>
        </div>
      </ng-template>
    </mat-tab>
    <!-- History of Product ordered by selected client -->
    <mat-tab label="Historique (F11)"  > 
      <ng-template matTabContent>  
        <ejs-grid 
        #grid3 
        id='grid3'
        style="padding: 5px;"   
        [gridLines]='gridLines'  
        [dataSource]="productHistoryOrders" 
        (dataBound)="dataBoundHistory($event)"
        (keyPressed)="keyPressedHistoryList($event)"
        [allowSelection]='true' 
        [allowSorting]='true'
        [allowFiltering]='true' 
        [allowPaging]="true"
        showColumnMenu="true"
        >
          <e-columns>
              <e-column field='clientName' headerText=' Nom complet'></e-column>
              <e-column field='orderNumber' headerText='N° commande'></e-column>
              <e-column field='shippingDate' type='date' format='dd/MM/yyyy' headerText='Date expédition'></e-column>
              <e-column field='commandStatus' headerText='Statut'></e-column>
              <e-column field='productCode' headerText='Code Art'></e-column>
              <e-column field='productName' headerText='Article'></e-column>
              <e-column field='quantity' headerText='Quantité'></e-column>
          </e-columns>
        </ejs-grid>
      </ng-template>
    </mat-tab>
</mat-tab-group>