<div class="card">
  <div class="header">
    <h6>Adresses</h6>
  </div>
  <div class="body">
    <button (click)="openDialog()" class="mat-focus-indicator personlized-button mat-raised-button mat-button-base" aria-label="Example icon button with a bookmark icon">
      + Ajouter
    </button>
    <br>
    <br>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Pays</th>
          <th scope="col">Ville</th>
          <th scope="col">Code postal</th>
          <th scope="col">Rue</th>
          <th scope="col">Principale</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of addresses">
          <th scope="row"  style="display: none;">{{item.id}}</th>
          <th scope="row">{{item.country}}</th>
          <td>{{item.city}}</td>
          <td>{{item.zipCode}}</td>
          <td>{{item.street}}</td>
          <td *ngIf="item.main ==true" >Oui
          </td>
          <td *ngIf="item.main ==false" >Non
          </td>
          <td >
              <!-- Edition button -->

              <!-- Edition button -->
              <a   mat-icon-button color="danger" aria-label="Supprimer"  (click)="delete(item)">
               <i class="fa fa-trash"></i>
              </a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
