<div class="card">
    <div class="header">
        <h6>Liste des emails</h6>
    </div>
    <div class="body">
        <button (click)="openDialog()" class="mat-focus-indicator personlized-button mat-raised-button mat-button-base"  aria-label="Example icon button with a bookmark icon">
            + Ajouter
          </button>
          <br>
          <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Email</th>
                <th scope="col">Actons</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of emails">
                <th scope="row">{{item.email}}</th>
                
               
                <td > 
                    <a mat-icon-button color="danger" aria-label="Supprimer"  (click)="delete(item)">
                     <i class="fa fa-trash"></i>
                    </a>
                </td>
              </tr>
             
            </tbody>
          </table>
        
        
    </div>
</div>

