<div>
    <h6 mat-dialog-title>{{modalTitle}}</h6>
    <div>
        <form class="form-form m-5" [formGroup]="form">
            <input type="hidden" formControlName="id">
            <div>
                <mat-form-field >
                    <mat-label>Nom </mat-label>
                    <input matInput formControlName="name"  required>

                    <mat-error *ngIf="form.get('name').hasError('required')">
                        name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field >
                    <mat-label>Code </mat-label>
                    <input  matInput formControlName="code">
                    <mat-error *ngIf="form.get('code').hasError('required')">
                        code is required
                    </mat-error>

                </mat-form-field>
            </div>
            <div>
                <mat-form-field >
                    <mat-label>SHP </mat-label>
                    <input type="number" matInput formControlName="shp"  required>

                    <mat-error *ngIf="form.get('shp').hasError('required')">
                        shp is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-left">
                <button mat-raised-button  color="primary" style="margin-right:2px;" 
                    (click)="save()">Enregistrer </button>
                <button style="margin-left:2px;" mat-raised-button color="default" (click)="close()">Fermer
                </button>
            </div>
        </form>
    </div>
</div>