<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style">
              <li class="breadcrumb-item">
                <h4 class="page-title">Produits</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/dashboard/main">
                  <i class="fas fa-home"></i>Ordres de Préparations</a
                >
              </li>
              <li class="breadcrumb-item bcrumb-2">
                <a href="#" onClick="return false;">Ordres de Préparations</a>
              </li>
              <li class="breadcrumb-item active">Liste</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="header">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <button class="mat-focus-indicator personlized-button mat-raised-button mat-button-base" >Imrimer la selection</button>

                </div>
              </div>
            </div>
  
            <ejs-grid
              #grid
              style="padding: 5px; margin: 10px;"
              [gridLines]="gridLines"
              [dataSource]="data"
              [allowSelection]="true"
              [allowSorting]="true"
              [allowFiltering]="true"
              [gridLines]="gridLines"
              [allowPaging]="true"
              [selectionSettings]='selectionOptions'
              
            >
                <e-columns>
                <e-column type='checkbox' width='50'></e-column>

                <e-column
                [width]="180"
                field="orderNumber"
                headerText="N°"
              ></e-column>
              <e-column
                [width]="120"
                field="orderDate"
                format="dd/MM/yyyy"
                type="date"
                headerText="Date"
              ></e-column>
              <e-column
                [width]="200"
                field="customerName"
                headerText="Client"
              ></e-column>
              <e-column
                [width]="200"
                field="type"
                headerText="Type"
                [allowFiltering]="true"
                isPrimaryKey="true"
                [allowSorting]="true"
              >
                <ng-template #template let-data>
                  <span
                    *ngIf="data.orderType == 1"
                    class="label bg-red shadow-style"
                    style="margin-right: 5px"
                    >Psychotrope</span
                  >
                  <span
                    *ngIf="data.orderType == 0"
                    class="label bg-green shadow-style"
                    style="margin-right: 5px"
                    >Non Psychotrope</span
                  >
                </ng-template>
              </e-column>
             
              <e-column
                [width]="120"
                field="orderDiscount"
                format="N2"
                headerText="Total HT"
                [allowFiltering]="true"
                isPrimaryKey="true"
                [allowSorting]="true"
              ></e-column>
              <e-column
                [width]="120"
                field="orderTotal"
                format="N2"
                headerText="Total TTC"
                [allowFiltering]="true"
                isPrimaryKey="true"
                [allowSorting]="true"
              ></e-column>
              <e-column
                [width]="200"
                field="expectedShippingDate"
                headerText="Date de livraison prévue"
                format="dd/MM/yyyy"
                type="date"
              ></e-column>
              <e-column
                [width]="200"
                field="status"
                headerText="Etat"
              ></e-column>
              <e-column
                [width]="120"
                field="createdBy"
                headerText="Créée par"
              ></e-column>
              <e-column
                [width]="180"
                field="createdDateTime"
                headerText="Date de création"
                format="dd/MM/yyyy hh:mm"
                type="date"
              ></e-column>
              <e-column
                [width]="120"
                field="updatedBy"
                headerText="Modifiée par"
              ></e-column>
              <e-column
                [width]="180"
                field="updatedDateTime"
                headerText="Date de modification"
                format="dd/MM/yyyy hh:mm"
                type="date"
              ></e-column>
      
            
              </e-columns>
            </ejs-grid>

           

          </div>
        </div>
      </div>
    </div>
  </section>
  